.nav-items {
  list-style: none;
  display: flex;
  color: white;
  padding: 10px
}

.nav {
  display: flex;
  align-items: center;
  background-color: black;
}

.nav--icon {
  width: 40px;
  padding: 20px 10px;
}

.nav--logo_text {
  color: aqua;
  font-family: 'Inter', sans-serif;
  margin-right: auto;
  font-size: 22px
}

.nav--title {
  color: white;
  font-family: 'Inter', sans-serif;
  margin-right: 10px;
  font-weight: 600;
}